@font-face {
    font-family: "Redressed";
    src: local('Redressed'), url(../../static/fonts/Redressed.ttf) format('truetype');
}

.paper{
    background-color: #ffc;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-family: Redressed, serif;
    font-size: 78px;
    color: black;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    text-align: center;
}