.paper {
    background-color: #FFC;
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);

}

@font-face {
    font-family: 'Redressed';
    src: local('Redressed'), url(../../static/fonts/Redressed.ttf) format('truetype');
}

.title{
    font-family: Redressed, serif;
    font-size: 48px;
    color: black;
    text-shadow: 0 0 2px white;
}

.preview{
    max-width: 350px;
    height: auto;
}